<h2> Create Guardian </h2>
<% if @guardian.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

    <ul>
      <% @guardian.errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for (@guardian) do |g| %>
<%= g.label :name %>
<%= g.text_field :name %></br>
<%= g.label :email %>
<%= g.email_field :email %>
<%= g.label :num_kids %>
<%= g.number_field :num_kids %></br>
<%= g.label :st_addr_1 %>
<%= g.text_field :st_addr_1 %>
<%= g.label :st_addr_2 %>
<%= g.text_field :st_addr_2 %>
<%= g.label :city %>
<%= g.text_field :city %></br>
<%= g.label :state %>
<%= g.text_field :state %></br>
<%= g.label :zip %>
<%= g.number_field :zip %>
<%= g.submit %>
<% end %>
