<h2> <%= @guardians.name %>'s Info </h2>
<p>
  <strong> Name: </strong> <%= @guardians.name %></br>
  <strong> Email: </strong> <%= @guardians.email %></br>
  <strong> Number of kids: </strong> <%= @guardians.num_kids %></br>
  <strong> St. Addr 1: </strong> <%= @guardians.st_addr_1 %></br>
  <strong> St. Addr 2: </strong> <%= @guardians.st_addr_2 %></br>
  <strong> City: </strong> <%= @guardians.city %></br>
  <strong> State: </strong> <%= @guardians.state %></br>
  <strong> Zip: </strong> <%= @guardians.zip %></br>
  <p>
    <strong> Sitters: </strong></br>
    <% @guardians.jobs.map do|m| %>
      <%= link_to m.sitter.name, sitter_path(m.sitter.id) if m.valid? %></br>
    <% end %>
  </p>
  <strong><%= link_to('Edit', edit_guardian_path(@guardians.id)) %></br></strong>
  <strong><%= link_to "Delete", guardian_path(@guardians.id), :confirm => "Are you sure?", :method => :delete %></strong>
  
