<h2> Create Job </h2>
<%= form_for (@jobs) do |j| %>
<%= j.label :date %>
<%= j.datetime_local_field :date %></br>
<%= j.label :num_of_kids %>
<%= j.number_field :num_of_kids %>
<%= j.label :duration %>
<%= j.text_field :duration %></br>
<%= j.label :sitter_id %>
<%= j.collection_select :sitter_id, Sitter.order(:name),:id,:name, include_blank: true %>
<%= j.label :guardian_id %>
<%= j.collection_select :guardian_id, Guardian.order(:name),:id,:name, include_blank: true %>
</br>
<%= j.submit %>
<% end %>
