<h3> Job </h3>
<strong>Job ID:</strong>
<%= link_to(@job.id, user_job_path(@job.id)) %></br>
<strong> Date: </strong> <%= @job.date.strftime("%m/%d/%Y") %>
<%= @job.date.strftime("%r") %> </br>
<strong> Duration: </strong> <%= @job.duration %> </br>
<strong> Number of Kids: </strong> <%= @job.num_of_kids %> </br>
<strong> Sitter Name: </strong> <%= link_to(@job.sitter.name, sitter_path(@job.sitter.id)) %> </br>
<strong> Guardian Name: </strong> <%= link_to(@job.guardian.name, guardian_path(@job.guardian.id)) %> </br>
<strong> Total: </strong>$<%= @job.duration.to_i * @job.num_of_kids * 12 %>
</br>
<strong><%= link_to('Edit', edit_job_path(@job.id)) %></br></strong></br>
<strong><%= link_to "Delete", job_path(@job.id), :confirm => "Are you sure?", :method => :delete %></strong>
