<h1> <%= @user.name %> User Page </h1>
<strong> Name: </strong>
<%= @user.name %></br>
<strong> Email: </strong>
<%= @user.email %></br></br>
<strong><%= link_to 'Edit', edit_user_path(@user.id) %></br></strong>
<strong><%= link_to 'Delete', user_path(@user.id), data: { confirm: "Are you sure?" }, :method => :delete %></strong>
</br>
