<div class="bs" style="margin-left: 500px; border: solid black 2px">
  <h3> Busy Sitters </h3>
  <% @busiest_sitter.each do |bs| %>
   <%= bs.sitter.name %> - <%= bs.duration.to_i * 12 %>
   
  <% end %>
</div>
<h2> Sitters </h2>
<% @sitters.each do |s| %>
<p>
  <%= link_to(s.name, sitter_path(s.id)) %></br>
  <strong>Age:</strong>
    <%= s.age %></br>
    <strong>Zip:</strong>
    <%= s.zip %></br>
    <strong>Email:</strong>
    <%= s.email %></br>
    <strong>Phone:</strong>
    <%= s.ph_num %></br>
    <strong><%= label(:user, 'Number of Jobs') %>:</strong>
    <%= s.jobs.count %></br>
  <% end %>
  </br>
</p>


</br>
<strong><%= link_to('New', new_sitter_path) %></strong>
