<h1> Sitters </h1>
<% @sitters.each do |s| %>
<p>
  <%= link_to(s.name, sitter_path(s.id)) %></li>
    <%= s.age %></br>
    <%= s.zip %></br>
    <%= s.email %></br>
    <%= s.ph_num %></br>
<% end %>
</br>
</p>
</br>
<%= link_to('New', new_sitter_path) %>
