<h2> Sitters </h2>
<% @sitters.each do |s| %>
<p>
  <%= link_to(s.name, sitter_path(s.id)) %>
    <%= s.age %></br>
    <%= s.zip %></br>
    <%= s.email %></br>
    <%= s.ph_num %></br>
    <strong><%= label(:user, 'Number of Jobs') %>:</strong>
    <%= s.jobs.count %></br>
  <% end %>
  </br>
</p>


</br>
<%= link_to('New', new_sitter_path) %>
