<h1> Create Sitter </h1>
<% if @sitter.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@sitter.errors.count, "error") %> prohibited this sitter from being saved:</h2>

    <ul>
      <% @sitter.errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for (@sitter) do |s| %>
<%= s.label :name %>
<%= s.text_field :name %></br>
<%= s.label :email %>
<%= s.email_field :email %>
<%= s.label :age %>
<%= s.text_field :age %></br>
<%= s.label :zip %>
<%= s.text_field :zip %>
<%= s.label :ph_num %>
<%= s.text_field :ph_num %></br>
<%= s.submit %>
<% end %>
