<h1> <%= @sitters.name %> Sitter Page </h1>
<p>
  <strong> Name: </strong></br>
  <%= @sitters.name %></br>
  <strong> Age: </strong>
  <%= @sitters.age %></br>
  <strong> Zip Code: </strong></br>
  <%= @sitters.zip %></br>
  <strong> Email: </strong>
  <%= @sitters.email %></br>
  <strong> Ph Num: </strong>
  <%= @sitters.ph_num %></br>
  <p><strong> Jobs: </strong></br>
    <% @sitters.jobs.map do|j| %>
    <strong><%= j.date.strftime("%m/%d/%Y") if j.valid? %></br></strong>
      <%= link_to j.guardian.name, guardian_path(j.guardian.id) if j.valid? %></br>
    <% end %>
  </p>
  <strong><%= link_to('Edit', edit_sitter_path(@sitters.id)) %></br></strong>
  <strong><%= link_to "Delete", sitter_path(@sitters.id), :confirm => "Are you sure?", :method => :delete %></strong>
