<!DOCTYPE html>
<html>
  <head>
    <title>SitRite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to('Users', users_path) %>
    <%= link_to('Sitters', sitters_path) %>
    <%= link_to('Guardians', guardians_path) %>
    <%= link_to('Jobs', jobs_path) %>

    <% if logged_in? %>
        <h4>You are logged in as: <%= current_user.name %></h4>
    <%end%>
    <%= yield %>

    </br>
    </br>
    <%= button_to("Log In With Google", '/auth/google_oauth2') %>
    <%= button_to('Logout', logout_path, :method => :get) %>
    <%= link_to 'Back', :back %>
  </body>
</html>
